nav.navigation
    .navigation-wrapper 
        a.logo-link(href="/")
            | BEATRICE &#183;

            //- svg.logo_link-icon

        ul.navigation-list 
            li.navigation-list-item 
                a.navigation-list-link.link.link--metis(href="/about") About 

            li.navigation-list-item 
                a.navigation-list-link.link.link--metis(href="/work") Work