.home{
    @extend %page;
    z-index: 9;
}

.hero-wrapper{
    height: 100vh;
    position: relative;
}

.hero-title-wrapper{
    overflow: hidden;
}

.hero-title{
    @extend %center;
    height: 100%;
}

.hero-title-wrapper{
    @extend %center;
    flex-direction: column
}

.hero-line{
    @extend %left;
    width: 100%;
    white-space: nowrap;
    font-size: 23rem;
    text-transform: uppercase;
}

.hero-center-title{
    @extend %left;
}

.home-media-wrapper{
    @extend %center;
    font-size: 2rem;
    gap: 2rem;
    position: absolute;
    bottom: 5%;
    left: 2%;
}


.home-cta-wrapper{
    @extend %center;
    font-size: 2rem;
    gap: 2rem;
    position: absolute;
    bottom: 5%;
    right: 2%;
}

.home-scroll-cta{
    font-size: 4rem;
}

.home-cta-svg{
    transform: rotate(90deg);
}



.home-about{
    @extend %center;
    height: 80vh;
    position: relative;
    overflow: visible;
}

.home-about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    position: relative;
    overflow: visible;
}

.home-about-title{
    font-size: 9rem;
}

.home-about-description{
    font-family: $font-everett;
    font-size: 3rem;
    width: 40%;
}

.home-profile-figure{
    height: 80rem;
    width: 63rem;
    position: absolute;
    left: 20%;
    bottom: -15%;
}

.home-profile-image{
    @extend %cover;
    object-fit: cover;
}

.media-link{
    @extend %media-link;
}

.home-work{
    @extend center;
    position: relative;
    width: 100%;
    height: 200vh;
}

.home-work-wrapper{
    @extend center;
    width: 100%;
}

.home-figure-wrapper{
    @extend center;

}

.home-work-figure{
    height: 63rem;
    width: 50rem;
    position: absolute;

    
    &:nth-child(1) {
        left: 20%;
        bottom: 0%;
    }
    &:nth-child(2) {
        left: 5%;
        bottom: 20%;
    }
    &:nth-child(3) {
        left: 20%;
        bottom: -2%;
    }
    &:nth-child(4) {
        right: 20%;
        bottom: 0%;
    }
    &:nth-child(5) {
        left: 20%;
        bottom: 40%;
    }
}

.home-work-image{
    @extend %cover;
    object-fit: cover;
}


.home-work-title{
    font-size: 24rem;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
}

.marquee{
    height: 50vh;
}

.marquee-wrapper{
    @extend %left;
    position: relative;
}

.marquee-content{
    position: absolute;
    font-size: 22rem;
}




// Reuseable
.everett-font{
    font-family: $font-everett;
}
