.navigation{
    z-index: 999999999;
    position: fixed;
    font-size: 4rem;
    width: 100%;
}

.navigation-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 4rem 7rem;
}

.navigation-list{
    @extend %center;
    gap: 3rem;
}

.navigation-list-link{
    @extend %center;
    gap: 3rem;
    font-size: 3.2rem;
}

.logo-link{
    text-decoration: none;
    color: $color-base-black;

}

.navigation-list-link{
    text-decoration: none;
    color: $color-base-black;
}