extends ../index

block variables 
    - var template = 'detail'

block content
    .detail
        .detail-wrapper
            .check
            figure.detail-figure
                img.detail-image(data-src=data[0].workImage.fields.file.url)
            figure.detail-figure
                img.detail-image(data-src=data[0].workImage.fields.file.url)