extends ../index

block variables 
    - var template = 'detail'

block content
    .detail
        .detail__wrapper
            .check
            figure.detail__figure
                img.detail__image(data-src=data[0].workImage.fields.file.url)
            figure.detail__figure
                img.detail__image(data-src=data[0].workImage.fields.file.url)