extends ../index

block variables 
    - var template = 'home'

block content
    .home 
        .home__wrapper 
            .home__gallery 
                .home__gallery__wrapper
                    each work, index in data
                        figure.home__gallery__figure 
                            img.home_gallery__image(data-src=work.workImage.fields.file.url)

                        h2.work___title=work.workTitle
                        h2.work___description=work.workDescription        
                        a.work__link(href=work.url) Test URL