extends ../index

block variables 
    - var template = 'home'

block content
    .home 
        .home__wrapper 
            .home__gallery 
                .home__gallery__wrapper
                    //- each figure in meta.data
                    //-     figure.home__gallery__figure 
                    //-         img.home_gallery__image(src=figure.workImage.fields.file.url)