.home-work{
    @extend center;
    position: relative;
    padding-top: 65rem;
    width: 100%;
    height: 200rem;
}

.project-link{
    cursor: pointer;
   text-decoration: none;
   color: $color-font-black;
}

.home-work-wrapper{
    @extend center;
    width: 100%;
    overflow: visible;
}

.work-list-wrapper{
    @extend center;
}



.home-work-inner-wrapper{
    border-top: 1px solid rgb(199, 199, 199);
    margin: 0rem 6rem;
    padding: 0rem 6rem;
    position: relative;
    
    &:last-child {
        // border-bottom: 1px solid rgb(199, 199, 199);
    }
}

.home-work-title{
    font-size: 24rem;
    text-transform: uppercase;
    padding: 10rem 0rem;
    padding-left: 7rem;
    align-items: left;
    text-align: left;
}

.home-work-small-title{
    font-size: 7rem;
    text-transform: uppercase;
    padding: 7rem 0rem;
    align-items: left;
    text-align: left;
}

.home-work-figure{
    height: 45rem;
    width: 65rem;
    position: absolute;
    left: 0%;
    bottom: 0%;
    opacity: 0;
}

.home-work-image-wrapper{
    height: 5rem;
    width: 5rem;
    position: absolute;
}

.home-work-image{
    @extend %cover;
    object-fit: cover;
}


