.home{
    @extend %page;
    z-index: 9;
}

.hero-wrapper{
    height: 100vh;
    position: relative;
}

.flower{
    position: absolute;
    width: 10rem;
    right: 14%;
    top: 38%;
}

.home-about,
.home-work{
    padding-bottom: 20rem;
}

.hero-title-wrapper{
    overflow: hidden;
}

.hero-title{
    @extend %center;
    height: 100%;
}

.hero-title-wrapper{
    @extend %center;
    flex-direction: column
}

.hero-line{
    @extend %left;
    width: 100%;
    white-space: nowrap;
    font-size: 23rem;
    text-transform: uppercase;
}

.hero-center-title{
    @extend %left;
}

.home-media-wrapper{
    @extend %center;
    font-size: 2rem;
    gap: 2rem;
    position: absolute;
    bottom: 5%;
    left: 2%;
}


.home-cta-wrapper{
    @extend %center;
    font-size: 2rem;
    gap: 2rem;
    position: absolute;
    bottom: 5%;
    right: 2%;
}

.home-scroll-cta{
    font-size: 4rem;
}

.home-cta-svg{
    transform: rotate(90deg);
}

.media-link{
    @extend %media-link;
}

// .marquee{
//     height: 50vh;
// }

// .marquee-wrapper{
//     @extend %left;
//     position: relative;
// }

// .marquee-content{
//     position: absolute;
//     font-size: 22rem;
// }




// Reuseable
.everett-font{
    font-family: $font-everett;
}
