html {
    @extend %cover;

    background: $color-base-white;
    color: $color-base-black;
    font-size: calc(100vw / 1920px * 10px);
    line-height: 1;
    overflow: hidden;
    position: fixed;

    // @include media('<phone') {
    //   font-size: calc(100vw / 750 * 10);
    // }
}

body{
    @extend %cover;
    position: fixed;
    font-family: $font-gallery;
    font-size: 1rem;    
}

.experience{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.loaded{
    opacity: 1;
    transition: 0.3s all;
}

