// .experience{
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
// }

html {
    @extend %cover;

    background: white;
    color: black;
    // font-size: calc(100vw / 1920 * 10);
    line-height: 1;
    overflow: hidden;
    position: fixed;

    // @include media('<phone') {
    //   font-size: calc(100vw / 750 * 10);
    // }
}

body{
    @extend %cover;
  
    position: fixed;
}

.content{
    @extend %cover;

}

